<%= simple_form_for([@discussion, @discussion.replies.build], remote: true) do |f| %>
  <div class= "form-group">
    <%= f.text_area :content, class: 'form-control', rows: '3', wrapper: false %>
  </div>
  <div class="form-group">
    <%= f.submit "Submit Reply", class: 'btn btn-secondary' %>
  </div>
<% end %>
  
  