<div class = "row">
    <div class = "col-8">
        <h3 class = "discussions">Latest Discussions</h3>
        <div class = "discussions">
            <% @discussion.each do |discussion| %>
                <div class
            <% end %>
        </div>
    </div>
</div>